<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<!--<div th:each="kartaAMT : ${karta}">-->

<!--    <a-->
<!--&lt;!&ndash;            th:href="@{/people/{id}(id=${karta.getId()})}"&ndash;&gt;-->
<!--            th:text="${kartaAMT.getFamily()}"-->
<!--    ></a>-->

<!--</div>-->

<div th:each="person : ${people}">
    <a
          th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()+', ' + person.getEmail()}"
    >user</a>
   Результат:
</div>


<br/>
<hr/>

Результат:
<!--<p th:text="${result}"/>-->

<a href="/people/new">Create new person</a>
<a href="/karta/searchAMT">Компан</a>


</body>
</html>
