<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="karta : ${KrtaAMT}">
    <a
            th:href="@{/karta/{id}(id=${karta.getId()})}"
            th:text="${karta.getFamily() + ', ' + karta.getFname()+', '
             + karta.getMarka()+', ' + karta.getModel()+', ' + karta.getNum_cuz()
             +', ' + karta.getData_oper()}"

    >user</a>

    <br/>

    <hr/>

    Результат:

    <a href="/people/new">Create new person</a>
    <a href="/karta/searchAMT">Компан 3</a>

    <div>

</body>
</html>