<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.г  .org" >
<head>
    <meta charset="UTF-8">
    <title>KartaView</title>
</head>
<body>
Результат_1
<div th:each="kart : ${kartaList}">
    <a
            th:href="@{/karta/{kart_id}(kart_id=${kart.getKart_id()})}"
            th:text="${kart.getFamily() + ', ' + kart.getFname()+', '
             + kart.getMarka()+', ' + kart.getModel()+', ' + kart.getNum_cuz()
             +', ' + kart.getData_oper()+', ' + kart.getKart_id()}"
    ></a>
    <br/>
    </div>
    <br/>
    <hr/>
    Результат 2:
        <a href="/karta/searchAMT">Пошук</a>
</body>
</html>