<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>KartaView</title>
</head>
<body>
Результат_1
<div th:each="karta : ${kartaList}">
<!--    <a-->
<!--            th:href="@{/karta/{id}(id=${karta.getId()})}"-->
<!--            th:text="${karta.getFamily() + ', ' + karta.getFname()+', '-->
<!--             + karta.getMarka()+', ' + karta.getModel()+', ' + karta.getNum_cuz()-->
<!--             +', ' + karta.getData_oper()}"-->
<!--            -->
    <label for="name">Фамилия: </label>
    <input type="text" th:field="*{karta.getFamily()}" id="name"/>
    <br/>
    >user</div>

    <br/>

    <hr/>

    Результат 2:
<!--    <div>-->
        <a href="/karta/searchAMT">Пошук</a>
</body>
</html>